.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .Empty-Margin {
    margin-top: 50px;
  }
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  margin: 1px auto;
  font-family: cursive;
    /* color: seashell; */
  background: linear-gradient(to right, red, blue, purple);
   -webkit-background-clip: text;
  font-size: x-large;
  color: transparent;
  font-weight: bolder;
}